@using System.Data
@model CollegeBasketballModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <style>
        a {
            text-decoration: none;
        }

        a:hover {
            font-weight: bolder;
        }
        table {
            border-collapse: collapse;
        }

        thead {
            position: sticky;
            top: 0;
            background-color: cornflowerblue;
        }

        th {
            background-color: cornflowerblue;
            color: white;
            padding: 5px 10px 5px 1px;
        }

        td {
            text-align: left;
            padding: 5px 10px 5px 2px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .nav-link {
            font-size: clamp(1px, 2.5vw, 1em) !important;
            background-color: white;
            color: black;
            padding: clamp(1px, 1vw, 1em) clamp(1px, 1vw, 1em) clamp(1px, 1vw, 1em) clamp(1px, 1vw, 1em);
        }


        .navbar-right {
            background-color: white;
            white-space: nowrap;
            display: flex;
            flex-wrap: nowrap;
            font-size: clamp(1px, 2.5vw, 1em);
            width: 100%;
        }
    </style>
    <meta name="format-detection" content="telephone=no">
</head>
<body>
    <h1 style="font-size:clamp(1px, 4vw, 3em);white-space: nowrap;width:100%"><img src="../img/basketballhoop.png" style="height: 1.5em"> College Basketball Rankings</h1>
    <nav class="nav nav-pills" navbar-right">
        @foreach (DataRow season in @Model.dtSeasons.Rows)
        {

            <a class="nav-link text-dark" style="font-size:1em;" asp-action="CollegeBasketballRankings" asp-route-pintSeason=@season["fintSeason"] asp-route-pstrRankingView="@Model.strRankingView">@season["fintSeason"]</a>
        }
    </nav>

    <nav class="nav nav-pills navbar-right">
        <a class="nav-link text-dark" asp-action="CollegeBasketballRankings" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="Power">SCRANK Power Rankings</a>
        <a class="nav-link text-dark" asp-action="CollegeBasketballConferenceStandings" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="Conference">Conference Standings</a>
    </nav>

    <nav class="nav nav-pills navbar-right">
        <a class="nav-link text-dark" asp-action="CollegeBasketballRankings" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="SOV">SCRANK SOV</a>
        <a class="nav-link text-dark" asp-action="CollegeBasketballRankings" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="DOM">SCRANK Dominance Rating</a>
    </nav>

    <table style="font-size:clamp(1px, 2vw, 1em);white-space: nowrap;table-layout:auto; width:100%; max-width:1200px">
        <thead>
            <tr>
                <th colspan="9" , style="background-color:forestgreen; align-content:center">NCAA Mens Division 1 @Model.intSeason @Model.strRankingView Rankings</th>
            </tr>
            <tr>

                <th>Rank</th>
                <th>School</th>
                <th>SCRANK Rating</th>
                <th>W</th>
                <th>L</th>
                <th>CW</th>
                <th>CL</th>
                <th>Dom. Rating</th>
                <th>SOV</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                @foreach (DataRow team in @Model.dtRankings.Rows)
                {
                    <tr>
                        <td>@counter</td>
                        <td width="280px">
                            <a class="jobs" style="text-decoration:none; color:black" asp-action="CollegeBasketballTeam" asp-route-pstrClass="@Model.strConference" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="@Model.strRankingView" asp-route-pstrTeam="@team["fstrSchoolName"]">@team["fstrSchoolName"]</a>
                        </td>
                        <td>@team["flngPowerRanking"]</td>
                        <td>@team["fintWins"]</td>
                        <td>@team["fintLosses"]</td>
                        <td>@team["fintConferenceWins"]</td>
                        <td>@team["fintConferenceLosses"]</td>
                        <td>@team["flngDominanceRating"]</td>
                        <td>@team["flngAdjustedStrengthOfVictory"]</td>
                    </tr>
                    ++counter;
                }
            }
        </tbody>
    </table>

</body>

</html>









@* <nav class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link text-dark nav-link active " id="nav-2025-tab" data-toggle="tab" role="tab" aria-controls="nav-2025" aria-selected="true" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="2025">2025</a>
    <a class="nav-link text-dark" id="nav-2024-tab" data-toggle="tab" role="tab" aria-controls="tab-2024" aria-selected="false" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="2024">2024</a>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-2025" role="tabpanel" aria-labelledby="nav-2025-tab"></div>
        <div class="tab-pane fade" id="nav-2024" role="tabpanel" aria-labelledby="nav-2024-tab"></div>
    </div>
</nav> *@

