
@using System.Data
@model HighSchoolFootballRankingsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <style>
        table {
          border-collapse: collapse;
        }

        th {
            background-color: cornflowerblue;
            color: white;
            padding: 5px 10px 5px 1px;
        }

        td {
          text-align: left;
          padding: 5px 10px 5px 0;
        }
        tr:nth-child(even) {background-color: #f2f2f2;}

        .nav-link active{
            background-color: cornflowerblue;
            color: white;
            padding: 5px 10px 5px 0;
        }
        
    </style>  
    </head>
<body>
    <h1><img src=@Model.strStateLogo style="height: 1.5em"> @Model.strStateLong High School Football Rankings</h1>
    <nav class="nav nav-pills navbar-right">
    @foreach (DataRow season in @Model.dtSeasons.Rows)
    {

            <a class="nav-link text-dark" style="font-size:1em;" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason=@season["fintSeason"] asp-route-pstrRankingView="@Model.strRankingView" asp-route-pstrState="@Model.strState">@season["fintSeason"]</a>
    }
    </nav>

    <nav class="nav nav-pills navbar-right">
    @foreach (DataRow classification in @Model.dtClasses.Rows)
    {

            <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass=@classification["fstrClass"] asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="@Model.strRankingView" asp-route-pstrState="@Model.strState">@classification["fstrClass"]</a>
               
        
    }
    </nav>
    <nav class="nav nav-pills navbar-right">
        <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="Power" asp-route-pstrState="@Model.strState">Power Rankings</a>
        <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="RPI" asp-route-pstrState="@Model.strState">RPI</a>
        <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="SOV" asp-route-pstrState="@Model.strState">SCRANK SOV</a>
        @if (@Model.strClass != "5A")
        {
        <a class="nav-link text-dark" asp-action="HighSchoolFootballDistrictStandings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="District" asp-route-pstrState="@Model.strState">District Standings</a>
        }
    </nav>
        <table style="font-size:1.5vw;white-space: nowrap;table-layout:auto; width:100%">
        <thead>
                <tr>
                    <th colspan="9" , style="background-color:forestgreen; align-content:center">@Model.intSeason Class @Model.strClass @Model.strRankingView Rankings</th>
                </tr>
            <tr>
                
                <th>Rank</th>
                <th>School</th>
                <th>SCRANK Rating</th>            
                <th>W</th>
                <th>L</th>
                <th>DW</th>
                <th>DL</th>
                <th>RPI</th>
                <th>SOV</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;

                @foreach (DataRow team in @Model.dtRankings.Rows)
                {
                       <tr>
                        <td>@counter</td>
                            <td><img src="@team["fimgLogo"]" style="height:2em" id="imageBox"> @team["fstrSchoolName"]</td>
                        <td>@team["flngPowerRanking"]</td>
                        <td>@team["fintWins"]</td>
                        <td>@team["fintLosses"]</td>
                        <td>@team["fintDistrictWins"]</td>
                        <td>@team["fintDistrictLosses"]</td>
                        <td>@team["flngRegRPI"]</td>
                        <td>@team["flngAdjustedStrengthOfVictory"]</td>
                    </tr>
                    ++counter;
                }
            }
        </tbody>
</table>

</body>

</html>