
@using System.Data
@model HighSchoolFootballModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <style>
            table {
              border-collapse: collapse;
            }

            thead {
                position: sticky;
                top: 0;
                background-color: cornflowerblue;
            }

            th {
                background-color: cornflowerblue;
                color: white;
                padding: 5px 10px 5px 1px;
            }

            td {
              text-align: left;
              padding: 5px 10px 5px 2px;
            }
            tr:nth-child(even) {background-color: #f2f2f2;}

            .nav-link {
                    font-size: clamp(1px, 2.5vw, 1em) !important;
                background-color: white;
                color: black;
                    padding: clamp(1px, 1vw, 1em) clamp(1px, 1vw, 1em) clamp(1px, 1vw, 1em) clamp(1px, 1vw, 1em);
                }

        
            .navbar-right {
              background-color: white;
              white-space: nowrap;
              display: flex;
              flex-wrap: nowrap;
              font-size: clamp(1px, 2.5vw, 1em);
              width: 100%;
          
            }
        
        </style>
    <meta name="format-detection" content="telephone=no">
    </head>
<body>
        <h1 style="font-size:clamp(1px, 4vw, 3em);white-space: nowrap;width:100%"><img src=@Model.strStateLogo style="height: 1.5em"> @Model.strStateLong High School Football Rankings</h1>
    <nav class="nav nav-pills navbar-right">
    @foreach (DataRow season in @Model.dtSeasons.Rows)
    {

            <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason=@season["fintSeason"] asp-route-pstrRankingView="@Model.strRankingView" asp-route-pstrState="@Model.strState">@season["fintSeason"]</a>
    }
    </nav>

    <nav class="nav nav-pills navbar-right">
    @foreach (DataRow classification in @Model.dtClasses.Rows)
    {

            <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass=@classification["fstrClass"] asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="@Model.strRankingView" asp-route-pstrState="@Model.strState">@classification["fstrClass"]</a>
               
        
    }
    </nav>
    <nav class="nav nav-pills navbar-right">
        <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="Power" asp-route-pstrState="@Model.strState">SCRANK Power Rankings</a>
        <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="RPI" asp-route-pstrState="@Model.strState">RPI</a>
        @if (@Model.strClass != "5A")
        {
        <a class="nav-link text-dark" asp-action="HighSchoolFootballDistrictStandings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="District" asp-route-pstrState="@Model.strState">District Standings</a>
        }
    </nav>
    <nav class="nav nav-pills navbar-right">        
        <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="SOV" asp-route-pstrState="@Model.strState">SCRANK SOV</a>
        <a class="nav-link text-dark" asp-action="HighSchoolFootballRankings" asp-route-pstrClass="@Model.strClass" asp-route-pintSeason="@Model.intSeason" asp-route-pstrRankingView="DOM" asp-route-pstrState="@Model.strState">SCRANK Dominance Rating</a>
        
    </nav>
        <table style="font-size:clamp(1px, 1.9vw, 1em);white-space: nowrap;table-layout:auto; width:100%; max-width:1200px">
            <thead>
                    <tr>
                        <th colspan="10" , style="background-color:forestgreen; align-content:center">@Model.intSeason Class @Model.strClass @Model.strRankingView Rankings</th>
                    </tr>
                <tr>
                
                    <th>Rank</th>
                    <th>School</th>
                    <th>SCRANK</th>            
                    <th>W</th>
                    <th>L</th>
                    <th>DW</th>
                    <th>DL</th>
                    <th>RPI</th>
                    <th>SOV</th>
                    <th>DOM</th>
                </tr>
            </thead>
        <tbody>
            @{
                int counter = 1;

                @foreach (DataRow team in @Model.dtRankings.Rows)
                {
                       <tr>
                        <td>@counter</td>
                            <td><img src="@team["fimgLogo"]" style="height:2em" id="imageBox"> @team["fstrSchoolName"]</td>
                        <td>@team["flngPowerRanking"]</td>
                        <td>@team["fintWins"]</td>
                        <td>@team["fintLosses"]</td>
                        <td>@team["fintDistrictWins"]</td>
                        <td>@team["fintDistrictLosses"]</td>
                        <td>@team["flngRegRPI"]</td>
                        <td>@team["flngAdjustedStrengthOfVictory"]</td>
                        <td>@team["flngDominanceRating"]</td>
                    </tr>
                    ++counter;
                }
            }
        </tbody>
</table>

</body>
</html>